services:
  web:
    build:
      context: ./build_docker
      dockerfile: Dockerfile
    container_name: ada_web
    ports:
      - "8080:80"
    volumes:
      - ./src:/var/www/html
      - ./filestore:/var/www/html/filestore
    depends_on:
      - db
    environment:
      - DB_HOST=${DB_HOST}
      - DB_NAME=${DB_NAME}
      - DB_USER=${DB_USER}
      - DB_PASS=${DB_PASS}

  db:
    image: mysql:8.0
    restart: always
    container_name: ada_db
    environment:
      MYSQL_DATABASE: ${DB_NAME}
      MYSQL_USER: ${DB_USER}
      MYSQL_PASSWORD: ${DB_PASS}
      MYSQL_ROOT_PASSWORD: ${DB_ROOT_PASS}
    volumes:
      - mysql_data:/var/lib/mysql
      - ./database:/docker-entrypoint-initdb.d
    ports:
      - "3307:3307"

volumes:
  mysql_data:
